@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "WorkSans";
    src: url('./Assets/WorkSans-Regular.woff2') format('woff2');

}

@font-face {
    font-family: "Avara";
    src: url('./Assets/Avara-Bold.woff2') format('woff2');
}


* {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
}


#header {
  position: relative;
  display: flex;
  bottom: 0;
  align-items: center;
}


.body{
  position: relative;
  height:100%;
  width: 100%;
}

div.intro {
  position: absolute;
}

.para {
  /* background-color: lightgrey; */
  position: relative;
  top:15px;
  width: 90%;
  height: 100%;
  margin: 0px 5px;
}

h1 {
  top:20px;
  padding-left: 25px;
  position: absolute;
  color: #fffaed;
  font-size: 52px;
  letter-spacing: -1px;
  font-weight: normal;
  font-family: 'Avara', Arial, sans-serif;
  text-align: left;
  z-index: 9;
}

a {
    color: #ffffff;
    text-decoration: none;
}

 h1:hover {
    color: #fffaed;
  cursor: default;
    webkit-filter: blur(0.9px); /* Chrome, Safari, Opera */
    filter: blur(0.9px);
}

a:hover {
    color: #fffaed;
    text-decoration: underline;
    webkit-filter: blur(0.9px); /* Chrome, Safari, Opera */
    filter: blur(0.9px);
}

h2 {
  position: absolute;
  font-family: 'WorkSans', Arial, sans-serif;
  bottom: 10px;
  font-size: 9px;
  color: #fffaed;
  font-weight: 100;
  padding-bottom: 15px;
  padding-left: 25px;
  z-index: 9;
}

p {
  font-family: 'WorkSans', Arial, sans-serif;
  position: relative;
  top:90px;
  font-size: 12px;
  color: #fffaed;
  font-weight: 100;
  margin: 0px 0px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.icons {
  position: absolute;
  display: block;
  max-width: 100%;
  width: 400px;
  height: 100px;
  bottom: -10px;
  right: 15px;
  background-size:contain;
  background-repeat: no-repeat;
  background-image:url('/Assets/icons.svg');
  filter: brightness(0.5) sepia(2) hue-rotate(100deg) saturate(0);
}

#intro {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: rgb(0,0,0,0.8);
}
